body,p{
	margin:0;
	padding:0;
}
p{
	font-size:13px;
	font-family: sans-serif;
}
a {
	text-decoration:none;
}
ul{
	margin:0;
	padding:0;
}
ul > li{
	list-style-type:none;
}
.container{
	padding:25px;
}
/*banner*/
.banner{
	width:100%;
	height:150px;
}
.banner > img{
	width:100%;
	height:100%;
}
.header{
	padding:7px;
}
.logo{
	display:inline-block;
	width:20%;
	padding-left:35px;
}
.logo > a > img{
	width:232px;
	height:86px;
}
.thongtin{
	display:inline-block;
	width:55%;
	text-align:center;
}
p.ten-thongtin{
    font-size: 40px;
    color: #d6141c;
    font-weight: bold;
    font-family: sans-serif;
    background: -webkit-linear-gradient(#f00, #870d0d);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}
p.ll-thongtin{
    font-size: 20px;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 15px;
}
.info-top{
	display:inline-block;
	width: 20%;
    padding-left: 15px;
}
.info-top > img{
	width:50px;
}
.info-top > span{
	font-weight: bold;
    position: relative;
    bottom: 10px;
}
p.sdt{
    font-weight: bold;
    color: red;
    font-size: 18px;
}
/*menu*/
ul.menu-top-item{
	background-color:green;
    text-align: center;
}
ul.menu-top-item > li{
	float: left;
    min-width: 105.4px;
    text-align: center;
	border-left:1px solid white;
	background-color: green;
}
a.top-item1 > img{
	width: 20px;
    float: right;
    margin-left: 40px;
    padding-right: 10px;
}
a.danhmuc1 > img{
	margin-right: 8px;
    width: 20px;
	position: relative;
    top: 5px;
}
ul.danhmucsp{
    position: absolute;
    text-align: left;
}
ul.menu-top-item > li:first-child{
	border-left:none;
	position: relative;
	background:green !important;
}
ul.menu-top-item > li:hover{
	background-color:brown;
}
a.top-item1{
	font-family: "glober",sans-serif;
    color: aliceblue;
    display: block;
    padding: 15px 8px;
    font-weight: bold;
}

.menu{
    
    position: relative;
    width: 100%;
    z-index: 999;
	padding-left: 60px;
}
a.danhmuc1{
	font-family: "glober",sans-serif;
    color: black;
    display: block;
    padding: 10px 5px;
    font-weight: bold;
    background-color: silver;
    border-top: 1px solid snow;
}
a.danhmuc1:hover{
	color: aliceblue;
}
.slider{
    position: absolute;
    top: 49px;
    right: 120px;
}
.slider > img{
    width: 986px;
    height: 404px;
}

/*content*/
.container{
    margin: 0 60px;
    margin-top: 456px;
}
/*banner-qc*/
.left-gioi-thieu{
    float: left;
	width:50%;
}
.right-gioi-thieu{
	display:inline-block;
	width:46%;
}
p.left-gt1{
	font-family: myFont5;
    font-size: 57px;
    color: #24a601;
    line-height: 57px;
}
p.left-gt2{
	font-family: myFont2;
    font-size: 34px;
    text-transform: uppercase;
    color: #d6141c;
    margin-top: 10px;
}
p.left-gt3{
	color: #39464F;
	margin-top: 25px;
    font-size: 21px;
}
p.left-gt4{
	margin-top: 20px;
	line-height: 51px;
    font-family: myFont5;
    font-size: 34px;
    text-align: center;
    color: red;
}
/*tas1*/
.tas-bar-1{
    border: 2px solid green;
    border-radius: 18px;
    height: 45px;
    line-height: 50px;
    margin-top: 40px;
    position: relative;
}
img.homie{
	float: left;
    width: 55px;
    height: 45px;
	border-right: 1px solid aliceblue;
    margin-right: 15px;
}
.tas-bar-1 > span{
	float: left;
    background-color: green;
    line-height: 46px;
    min-width: 278px;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    border-radius: 15px 0 0 15px;
}
.tas-bar-1 > span::after{
	content: " ";
    border: solid;
    border-width: 23px;
    border-color: transparent transparent transparent green;
    position: absolute;
	left: 278px;
}
img.xemthem-img{
	float: right;
	width:15px;
	margin-top: 16px;
}
.tas-bar-1 > a{
    float: right;
    padding: 0 18px;
	color: #333333;
}
.tas-bar-1 > a:hover{
	color:red;
}
.tas-bar-2{
    margin: 35px 0;
    padding: 0 5px;
}
.tas-item{
	display: inline-block;
    border: 1px solid #999;
    padding: 8px;
    text-align: center;
	margin: 0 12px;
}
.tas-item-2{
	display: inline-block;
    border: 1px solid #999;
    padding: 8px;
    text-align: center;
	margin:15px 10px;
}
p.tas-item1{
	color: black;
    font-size: 18px;
    margin: 10px;
}
p.tas-item1 > a{
	color:black;
}
p.tas-item1 > a:hover{
	color:red;
}
p.tas-item1 > span{
	color:red;
}
.tas-item > img{
    width: 345px;
}
.tas-item-2 > img{
    width:250px;
}
/*zz*/
.info-why-is-me{
	background-image: url("../image/background-top.jpg");
	background-repeat:no-repeat;
	background-size:100% 100%;
	height:415px;
    text-align: center;
	padding: 35px 60px;
}
.info-why-is-me > p{
    font-size: 34px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;
	font-weight: bold;
}
.warap-icon1 {
    display: inline-block;
    position: relative;
	text-align: left;
    width: 25%;
	margin: 25px 25px;
}
.warap{
    margin-top: 0;
}
.warap-icon1 > p{
    color: #fff;
	line-height:20px;
}
.warap-icon1 > img{
    margin-right: 20px;
    float: left;
}
.warap-icon1 > p.td-dv > a{
	color: #fff;
	font-size: 20px;
	line-height: 35px;
}
.info-why-is-me > div > div > p:nth-child(2) > a:hover{
	color:yellow;
}
.cam-nhan-kh{
    position: relative;
	background-image: url("../image/img.jpg");
	background-repeat:no-repeat;
	background-size:100% 100%;
	height:474px;
    text-align: center;
	padding: 35px 20px;
}
.cam-nhan-kh > p{
    font-size: 34px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;
	font-weight: bold;
}
img.line-item{
	width: 35%;
    position: relative;
    bottom: 25px;
}
.turn-left-icon, .turn-right-icon{
    display: inline-block;
    position: absolute;	
    top: 250px;
}
.turn-left-icon{
	left: 35px;
}
.turn-right-icon{
	right: 35px;
}
.turn-left-icon > a > img, .turn-right-icon > a > img{
	width: 45px;	
    border-radius: 50%;
}
.warap-kh-item > p > a{
	color: lime;
	font-weight: bold;
	font-size:20px;
}
.warap-kh-item > p > a:hover{
	color:yellow;
}
p.kh-noi-dung-cn{
	color: #fff;
    margin-top: 5px;
    font-family: myFont4;
    font-size: 17px;
}
.warap-kh-item{
    display: inline-block;
    width: 20%;
    margin: 20px 20px;
}
.kh-background, .kh-background-1, .kh-background-2, .kh-background-3{
	background-repeat:no-repeat;
	background-size:100% 100%;
	border: 4px solid #fff;
    border-radius: 50%;
    width: 212px;
    height: 212px;
    display: inline-block;
    margin-bottom: 20px;
}
.kh-background{
	background-image: url("../image/member2.jpg");
}
.kh-background-1{
	background-image: url("../image/member1.jpg");
}
.kh-background-2{
	background-image: url("../image/member2.jpg");
}
.kh-background-3{
	background-image: url("../image/member1.jpg");
}
/*line*/
.line-number{
	position: relative;
    bottom: 15px;
	text-align:center;
}
.line-number > span > a{
	border: 1px solid #666;
    border-radius: 50%;
	color:#000;
    padding: 4px 8px;
    margin: 0 2px;
}
.line-number > span > a:hover{
	background-color:green;
}
.banner-middle{
    margin: 30px 15px 5px;
    text-align: center;
}
.banner-middle > img{
    width: 100%;
    margin: 0 auto;
}
/*tin-tuc*/
.dich-vu{
	margin: 0 15px 20px;
    text-align: center;
    position: relative;
}
.tt-item{
    display: inline-block;
    width: 33%;
	text-align: left;
}
.tt-item > img{
	padding: 8px;
    border: 1px solid #999;
    width: 340px;
	height: 222px;
}
.tt-item > p.tt-p1{
	line-height: 26px;
    font-family: sans-serif;
    font-size: 20px;
    color: #3c3c3c;
    font-weight: bold;
    border-left: 4px solid green;
    margin: 10px 0;
    padding-left: 15px;
}
.tt-item > p.tt-p2{
	line-height: 20px;
    font-family: sans-serif;
    font-size: 15px;
    color: #000;
    font-weight: normal;
}

/*dv*/
.tin-tuc{
    padding: 25px 65px 35px;
    position: relative;
    background-color: #ededed;
}
.tieu-de-tin-tuc{
	font-family: myFont3;
    font-size: 28px;
    color: #2c2c2c;
    text-transform: uppercase;
    padding-bottom: 15px;
	font-weight: bold;
	display:inline-block;
	border-bottom: 3px solid #f00;
    position: relative;
    top: 3px;
}
.left-dich-vu-td{
	border-bottom: 2px solid #fff;
    margin-bottom: 25px;
    border-bottom-width: 3px;
}
.dich-vu-item-l > p{
	margin-top: 10px;
}
.dich-vu-item-r > p{
	margin-top: 10px;
	line-height: 20px;
}
p.noi-dung-tieu-de{
	margin-top: 10px;
    line-height: 20px;
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
}
.dich-vu-item-l > p > a{
	font-size: 13px;
    font-weight: bold;
	color: #000;
}
.dich-vu-item-r > p > a{
	font-size: 13px;
    font-weight: bold;  
	color: #000;
}
.dich-vu-item-r > p > a:hover{ 
	color: #f00;
}
.dich-vu-item-l > p > a:hover{ 
	color: #f00;
}
.dich-vu-item-l > a{
    color: #333333;
	font-size: 15px;
    font-weight: bold;  
	border: 2px solid limegreen;
    padding: 10px;
}
.dich-vu-item-l > a:hover{
	color:red;
}
.left-dich-vu {
    width: 65%;
    float: left;
}
.dich-vu-item-l {
    width: 48.5%;
    float: left;
}
.dich-vu-item-r {
    width: 48.5%;
    float: right;
	margin-bottom:10px;
}
.dich-vu-item-r > img{
	float: left;
    margin-right: 15px;
}
.right-dich-vu {
    width: 33%;
    float: right;
}
.clear {
    clear: both;
}
/*footer*/
.footer{
	position: relative;
	text-align:center;
    background-color: #181818;
}
.noidung-copyright{
	height: 45px;
	line-height: 45px;
    text-align: center;
    color: #fff;
    background: #28b302;
    font-size: 15px;
}
.bando-footer{
    height: 456px;
}
.footer-back-to-top{
	position: relative;
    display: none;
    bottom: -8px;
    left: 615px;
    padding: 12px 18px;
    color: #fff;
    background-color: #664d42;
    border-radius: 50%;
    cursor: pointer;
    z-index: 999;
}
.footer-back-to-top:hover{
	background-color:coral;
}
.quang-cao{
	width: calc(100% / 3);
    float: left;
    border-right: 1px solid #424242;
    min-height: 130px;
    padding: 20px 20px;
}
p.mxh-footer, p.dkmail-footer{
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    margin: 20px 0;
}
.footer-item1{
	width: calc(100% / 3);
    float: left;
    border-right: 1px solid #424242;
    min-height: 130px;
    padding: 20px 0px;
}
.footer-item1 > img{
    width: 200px;
}
.footer-item3{
	width: 25%;
    min-height: 130px;
    float: left;
    padding: 20px 20px;
    text-align: left;
}
form#frm_dknt input[type='text'] {
    width: 60%;
    height: 35px;
    line-height: 35px;
    border: none;
    display: inline-block;
    color: #000;
    outline: none;
    padding: 0px 15px;
}
form#frm_dknt input[type='button'] {
    background: #28b302;
    color: #fff;
    width: 70px;
    height: 35px;
    line-height: 35px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    font-family: myFont1;
    display: inline-block;
    position: relative;
    right: 5px;
    top: 1px;
}
.footer-item4{
	position: relative;
    width: 100%;
    margin: auto;
    padding: 35px 0px;
    border-top: 1px solid #424242;
    color: white;
    overflow: hidden;
}
.quang-cao > ul{
	margin:0;
	padding:0;
    margin-left: 18px;
}
.quang-cao > ul > li{
    margin-bottom: 5px;
	display: inline-block;
    margin-right: 20px
}
.quang-cao > ul > li > div > a{
    padding: 2px 18px 20px;
}
.quang-cao > ul > li > div{
	background-repeat:no-repeat;
	background-size:40px 40px;
	border-radius:50%;
	width:40px;
	height:40px;
}
div.icon-qc-1{
	background-image:url("../image/fb.png");
}
div.icon-qc-2{
	background-image:url("../image/tw.png");
}
div.icon-qc-3{
	background-image:url("../image/ggg.png");
}
.footer-i4-item1, .footer-i4-item2, .footer-i4-item3{
	float: left;
}
.footer-i4-item1{
	width: 35%;
    text-align: left;
    margin-left: 65px;
}
.footer-i4-item2{
	width:25%;
}
.footer-i4-item3{
	width: 30%;
    float: right;
}
p.footer-pll{
	font-size:14px;
	color:#fff;
	margin-top:25px;
}
a.footer-all{
	color:#fff;
}
a.footer-all:hover{
	color:yellow;
}
.footer-i4-item1 > span{
	font-size:22px;
}
.footer-i4-item1 > p{
	font-size:18px;
	line-height:20px;
	margin-top:5px;
}
